.boton{
  font-size: 15px;
  margin-left: 1em;
}
.example-full-width {
  width: 70%;
}
.card{
  width: 40%;
  display:inline;
float:left;
margin: 0 1em 1em 0;;
}
.card-1{
    width: 35%;
    display:inline;
}
table {
  width: 100%;
  margin-top: 3em;
}
.form{
  font-size: 13px;
  width: 100%;
  text-align: center;
}
.form-cliente{
  width: 100%;
  font-size: 13px;
}
.center{
  width: 100%;
  text-align: center;
  margin: auto;
  }
.seccion{
   border: 1px solid red;
   width: 48%;
   margin-left: 0.3em;
   margin-right: 0.3em;
   display: inline-block;
}
.mat-divider{
  margin-top: 1em;
}
.mat-card-content{
  margin-top: 2em;
}
.div-center{
  width: 45%;
  text-align: center;
   display: inline-block;
   vertical-align: middle;
}
.Total{
  font-size: 1.2em;
}
.form-table{
  width: 20%;
}
